<%= form_for(attendance_type) do |f| %>
  <% if attendance_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(attendance_type.errors.count, "error") %> prohibited this attendance_type from being saved:</h2>

      <ul>
      <% attendance_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :string %>
    <%= f.text_field :string %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
