<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @attendance_type.name %>
</p>

<p>
  <strong>String:</strong>
  <%= @attendance_type.string %>
</p>

<%= link_to 'Edit', edit_attendance_type_path(@attendance_type) %> |
<%= link_to 'Back', attendance_types_path %>
