<p id="notice"><%= notice %></p>

<h1>Attendance Statuses</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>String</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @attendance_statuses.each do |attendance_status| %>
      <tr>
        <td><%= attendance_status.name %></td>
        <td><%= attendance_status.string %></td>
        <td><%= link_to 'Show', attendance_status %></td>
        <td><%= link_to 'Edit', edit_attendance_status_path(attendance_status) %></td>
        <td><%= link_to 'Destroy', attendance_status, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Attendance Status', new_attendance_status_path %>
