<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @attendance_status.name %>
</p>

<p>
  <strong>String:</strong>
  <%= @attendance_status.string %>
</p>

<%= link_to 'Edit', edit_attendance_status_path(@attendance_status) %> |
<%= link_to 'Back', attendance_statuses_path %>
