<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Password</th>
      <th>Current user</th>
      <th>Telephone</th>
      <th>Zip code</th>
      <th>Address</th>
      <th>Facebook account</th>
      <th>Facebook token</th>
      <th>Active</th>
      <th>Blocked</th>
      <th>Account type</th>
      <th>Cpf</th>
      <th>Cnpj</th>
      <th>Enterprise</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.password %></td>
        <td><%= user.current_user %></td>
        <td><%= user.telephone %></td>
        <td><%= user.zip_code %></td>
        <td><%= user.address %></td>
        <td><%= user.facebook_account %></td>
        <td><%= user.facebook_token %></td>
        <td><%= user.active %></td>
        <td><%= user.blocked %></td>
        <td><%= user.account_type %></td>
        <td><%= user.cpf %></td>
        <td><%= user.cnpj %></td>
        <td><%= user.enterprise %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
