<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>

<p>
  <strong>Current user:</strong>
  <%= @user.current_user %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @user.telephone %>
</p>

<p>
  <strong>Zip code:</strong>
  <%= @user.zip_code %>
</p>

<p>
  <strong>Address:</strong>
  <%= @user.address %>
</p>

<p>
  <strong>Facebook account:</strong>
  <%= @user.facebook_account %>
</p>

<p>
  <strong>Facebook token:</strong>
  <%= @user.facebook_token %>
</p>

<p>
  <strong>Active:</strong>
  <%= @user.active %>
</p>

<p>
  <strong>Blocked:</strong>
  <%= @user.blocked %>
</p>

<p>
  <strong>Account type:</strong>
  <%= @user.account_type %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @user.cpf %>
</p>

<p>
  <strong>Cnpj:</strong>
  <%= @user.cnpj %>
</p>

<p>
  <strong>Enterprise:</strong>
  <%= @user.enterprise %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
