<%= form_for(device_id) do |f| %>
  <% if device_id.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(device_id.errors.count, "error") %> prohibited this device_id from being saved:</h2>

      <ul>
      <% device_id.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :token %>
    <%= f.text_field :token %>
  </div>

  <div class="field">
    <%= f.label :os %>
    <%= f.text_field :os %>
  </div>

  <div class="field">
    <%= f.label :session_id %>
    <%= f.text_field :session_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
