<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @enterprise.name %>
</p>

<p>
  <strong>Cnpj:</strong>
  <%= @enterprise.cnpj %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @enterprise.cpf %>
</p>

<p>
  <strong>Address:</strong>
  <%= @enterprise.address %>
</p>

<p>
  <strong>Email:</strong>
  <%= @enterprise.email %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @enterprise.telephone %>
</p>

<%= link_to 'Edit', edit_enterprise_path(@enterprise) %> |
<%= link_to 'Back', enterprises_path %>
