<p id="notice"><%= notice %></p>

<h1>Receipts</h1>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Address</th>
      <th>Vendor</th>
      <th>Client</th>
      <th>Total</th>
      <th>Item</th>
      <th>Enterprise</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @receipts.each do |receipt| %>
      <tr>
        <td><%= receipt.date %></td>
        <td><%= receipt.address %></td>
        <td><%= receipt.vendor_id %></td>
        <td><%= receipt.client_id %></td>
        <td><%= receipt.total %></td>
        <td><%= receipt.item %></td>
        <td><%= receipt.enterprise %></td>
        <td><%= link_to 'Show', receipt %></td>
        <td><%= link_to 'Edit', edit_receipt_path(receipt) %></td>
        <td><%= link_to 'Destroy', receipt, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Receipt', new_receipt_path %>
