<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @receipt.date %>
</p>

<p>
  <strong>Address:</strong>
  <%= @receipt.address %>
</p>

<p>
  <strong>Vendor:</strong>
  <%= @receipt.vendor_id %>
</p>

<p>
  <strong>Client:</strong>
  <%= @receipt.client_id %>
</p>

<p>
  <strong>Total:</strong>
  <%= @receipt.total %>
</p>

<p>
  <strong>Item:</strong>
  <%= @receipt.item %>
</p>

<p>
  <strong>Enterprise:</strong>
  <%= @receipt.enterprise %>
</p>

<%= link_to 'Edit', edit_receipt_path(@receipt) %> |
<%= link_to 'Back', receipts_path %>
