<%= form_for(attendance) do |f| %>
  <% if attendance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(attendance.errors.count, "error") %> prohibited this attendance from being saved:</h2>

      <ul>
      <% attendance.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %>
    <%= f.datetime_select :date %>
  </div>

  <div class="field">
    <%= f.label :attendance_status_id %>
    <%= f.text_field :attendance_status_id %>
  </div>

  <div class="field">
    <%= f.label :attendance_type_id %>
    <%= f.text_field :attendance_type_id %>
  </div>

  <div class="field">
    <%= f.label :payment_method_id %>
    <%= f.text_field :payment_method_id %>
  </div>

  <div class="field">
    <%= f.label :vendor_id %>
    <%= f.number_field :vendor_id %>
  </div>

  <div class="field">
    <%= f.label :client_id %>
    <%= f.number_field :client_id %>
  </div>

  <div class="field">
    <%= f.label :item_id %>
    <%= f.text_field :item_id %>
  </div>

  <div class="field">
    <%= f.label :receipts_id %>
    <%= f.text_field :receipts_id %>
  </div>

  <div class="field">
    <%= f.label :total %>
    <%= f.text_field :total %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
