<p id="notice"><%= notice %></p>

<h1>Attendances</h1>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Attendance status</th>
      <th>Attendance type</th>
      <th>Payment method</th>
      <th>Vendor</th>
      <th>Client</th>
      <th>Item</th>
      <th>Receipts</th>
      <th>Total</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @attendances.each do |attendance| %>
      <tr>
        <td><%= attendance.date %></td>
        <td><%= attendance.attendance_status %></td>
        <td><%= attendance.attendance_type %></td>
        <td><%= attendance.payment_method %></td>
        <td><%= attendance.vendor_id %></td>
        <td><%= attendance.client_id %></td>
        <td><%= attendance.item %></td>
        <td><%= attendance.receipts %></td>
        <td><%= attendance.total %></td>
        <td><%= link_to 'Show', attendance %></td>
        <td><%= link_to 'Edit', edit_attendance_path(attendance) %></td>
        <td><%= link_to 'Destroy', attendance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Attendance', new_attendance_path %>
