<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @attendance.date %>
</p>

<p>
  <strong>Attendance status:</strong>
  <%= @attendance.attendance_status %>
</p>

<p>
  <strong>Attendance type:</strong>
  <%= @attendance.attendance_type %>
</p>

<p>
  <strong>Payment method:</strong>
  <%= @attendance.payment_method %>
</p>

<p>
  <strong>Vendor:</strong>
  <%= @attendance.vendor_id %>
</p>

<p>
  <strong>Client:</strong>
  <%= @attendance.client_id %>
</p>

<p>
  <strong>Item:</strong>
  <%= @attendance.item %>
</p>

<p>
  <strong>Receipts:</strong>
  <%= @attendance.receipts %>
</p>

<p>
  <strong>Total:</strong>
  <%= @attendance.total %>
</p>

<%= link_to 'Edit', edit_attendance_path(@attendance) %> |
<%= link_to 'Back', attendances_path %>
